// 颜色
$accentColor = #42b983  // 默认主题颜色
$textColor = #2c3e50    // 默认字体颜色
$borderColor = #eaecef  // 默认边框颜色
$codeBgColor = #f9f9f9  // 默认代码背景颜色
$arrowBgColor = #ccc    // 默认箭头颜色
$badgeTipColor = #42b983   
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem  // 默认导航高度
$sidebarWidth = 20rem   // 默认左侧导航宽度
$contentWidth = 760px   // 默认详情页宽度
$homePageWidth = 960px  // 默认首页宽度

// 响应式变化点
$MQNarrow = 959px   
$MQMobile = 719px
$MQMobileNarrow = 419px

// 标注
blockquote{
    border-left: 4px solid #42b983;
    padding: 10px 15px;
    color: #777;
    font-size: 15px;
    background-color: rgba(66, 185, 131, .1);
    code{
        margin: 0 2px!important;
        padding: 2px 4px!important;
        border-radius: 2px!important;
        font-family: Roboto Mono, Source Sans Pro, Monaco, courier, monospace !important;
        font-size: 0.92rem!important;
        color: #e96900!important;
        background-color: #f8f8f8!important;
    }
}

// 代码块
div[class*="language-"].line-numbers-mode::after{
    border:none;
}
div[class*="language-"].line-numbers-mode .line-numbers-wrapper{
    color:#999;
}
.theme-default-content pre code, .theme-default-content pre[class*="language-"] code{
    color:#f08d49;
}

li{
    font-size:15px;
}